#buttons-view {
    margin-top: 100px;
}

#giphyLogo {
    height: 30px;
}


/* Navbar WB */
.navbar.navbar-default {
    background-color: #bee8eb;
}

/*navbar link*/
a.nav-link {
    color: black;
    margin-left: 20px;

}

/*nav main*/
.nav-link {
    margin-left: 80px;
}

/*navbar brand*/
a.navbar-brand {
    margin-left: 80px; 
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 38px;
}

.form-inline {
    margin-right: 80px;
}
