/* Navbar WB */
.navbar.navbar-default {
    background-color: #bee8eb;
    border-bottom: 2px solid gray;
}

/*navbar link*/
a.nav-link {
    color: black;
    margin-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
}

/*nav main*/
.nav-link {
    margin-left: 80px;
}

/*navbar brand*/
a.navbar-brand {
    margin-left: 40px; 
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 38px;
}

/*search bar*/
.form-control {
    height: calc(2.25rem + 10px);
}
.form-inline {
    margin-right: 80px;
    font-size: 24px;
}

.btn {
    font-size: 20px;
}
/* End of Navbar WB */

/* body */
body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

/* articles */
/* headline article */
#headline {

}

.headlineblock {

}

.headlineImg {
    height: 400px;
    width: 400px;
    margin: 10px;
}

/* body articles */
#newsSection {
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    margin-right: 10%;
    border-bottom: 2px solid grey;
}

.articleImg {
    height: 150px;
    width: 200px;
    margin: 10px;
}

.articleTxt {
    border-bottom: none !important;
    padding: 0 10px 0 10px !important;
    margin-bottom: 0 !important;
}

.articleblock {
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-bottom-color: #d5d5d5;
    border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}



