/* Navbar WB */
.navbar.navbar-default {
    background-color: #bee8eb;
}

/*navbar link*/
a.nav-link {
    color: black;
    margin-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
}

/*nav main*/
.nav-link {
    margin-left: 80px;
}

/*navbar brand*/
a.navbar-brand {
    margin-left: 40px; 
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 38px;
}

/*search bar*/
.form-control {
    height: calc(2.25rem + 10px);
}
.form-inline {
    margin-right: 80px;
    font-size: 24px;
}

.btn {
    font-size: 20px;
}
/* End of Navbar WB */

/* articles */

#headline {
    padding: 10px;
    margin: 20px;
}

#newsSection {
    padding: 10px;
    margin: 20px;
}
.headlineImg {
    height: 250px;
    width: 250px;
    
    margin: 10px;
}

.articleImg {
    height: 150px;
    width: 200px;
    
    margin: 10px;
}

