Navbar WB
.navbar.navbar-default {
    background-color: #bee8eb;
    border-bottom: 2px solid gray;
}

/*navbar link*/
a.nav-link {
    color: black;
    margin-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
}

/*nav main*/
.nav-link {
    margin-left: 80px;
}

/*navbar brand*/
a.navbar-brand {
    margin-left: 40px; 
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 24px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

input.form-control {
    width: 250px;
}

/*search bar*/
.form-control {
    height: calc(2.25rem + 10px);
}
.form-inline {
    margin-right: 80px;
    font-size: 18px;
}

.btn {
    font-size: 18px;
    font-size: 20px;
}
/* End of Navbar WB */


/* body */
body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

/* Sidebar - WB */
#sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    left: -400px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* Sidebar - WB */

/* articles */

/* articles */
/* headline article */
.wrapper {
margin-right: auto; 
margin-left:  auto; 

max-width: 960px; /* 2 */

padding-right: 10px; /* 3 */
padding-left:  10px; 
}

#headline {
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    margin-right: 10%;
    border-bottom: 2px solid grey;
}

.headlineblock {
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-bottom-color: #d5d5d5;
    border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* images from articles */
#newsSection {
    padding: 10px;
    margin: 20px;

}

.headlineImg {
    height: 400px;
    width: 400px;
    margin: 10px;
}

/* body articles */
#newsSection {
    padding: 10px;
    margin: 20px;
    margin-left: 15%;
    margin-right: 10%;
    border-bottom: 2px solid grey;
}

.articleImg {
<<<<<<< HEAD
    height: 150px;
    width: 200px;
    margin: 10px;
=======
    width: 250px;
    margin-right: auto;
    margin-left: auto;
>>>>>>> e30b070cd5ca2dcf5b56f5e87aa50b415653d147
}

.articleTxt {
    border-bottom: none !important;
    padding: 0 10px 0 10px !important;
    margin-bottom: 0 !important;
}

.articleblock {
    padding: 15px;
    border: 1px solid #e9e9e9;
    border-bottom-color: #d5d5d5;
    border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    
}

.OpenTabImg {
    height: 20px;
    width: 20px;
    position: absolute;
}

#loadBtn {
    justify-content: center;
    background-color: #47748b;
}

p {
}


